.app {
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.counts,
.timerContainer {
  font-size: 30px;
  width: 200px;
}
.gameControlButton {
  width: 150px;
  height: 40px;
}
.content {
  display: flex;
  justify-content: center;
}
.emptyFieldPlaceholder {
  font-size: 30px;
}
